.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 100px 0px 100px;
}

/* ** Mobile ** */

@media (max-width:767px) {

    .body {
        margin: 0;
        width: 100%;
        max-width: none;
        padding: 0px 20px 0px 20px;
    }
}