.home_bannerContainer {
    width: 100%;
    height: 223px;
    border-radius: 25px;
    margin-bottom: 43px;
}

.home_cardList_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 43px;
    padding-top: 56px;
    padding-bottom: 56px;
    width: 100%;
    background-color: #F6F6F6;
    border-radius: 25px;
}

/* ** Mobile ** */

@media (max-width:767px) {

    .home_bannerContainer {
        height: 111px;
        margin-bottom: 22px;
        width: 90%;
    }

    .home_cardList_wrapper {
        padding-top: 0;
        background-color: white;
        gap: 20px;
        padding-bottom: 0;
        margin-bottom: 27px;
    }
}